/*GENERAL*/
* {
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  background-color: #efefef;
}
a {
  text-decoration: none;
  color: black;
}
.container {
  max-width: 1024px;
  margin: 0 auto;
}
h1 {
  font-size: 50px;
  font-weight: bold;
  text-align: center;
  color: #393c6c;
}

h2 {
  font-size: 30px;
  font-weight: bold;
  color: #f3735f;
  margin: 70px 0 20px 0;
}

h3 {
  font-size: 18px;
  font-weight: bold;
  color: #393c6c;
  line-height: 22px;
}
p {
  line-height: 22px;
  margin-bottom: 20px;
}

/*---------------------------------*/
/*--------------HEADER-------------*/
/*---------------------------------*/

header {
  background-color: white;
  border-bottom: 1px solid #f3735f;
  height: 80px;
}
header img {
  width: 200px;
  margin-top: 22px;
}

/*---------------------------------*/
/*--------------MAIN---------------*/
/*---------------------------------*/

section {
  background-color: white;
  margin-top: 60px;
  border-radius: 20px;
  padding: 12px 25px;
}
section img {
  width: 33%;
  height: 300px;

  object-fit: cover;
  border-radius: 15px;
}

.center-text {
  margin-top: 20px;
  text-align: center;
}
.temps-cuisson {
  background-color: #8a98b1;
  color: #efefef;
  border-radius: 10px;
  width: 40%;
  margin: 30px auto;
  text-align: center;
  padding: auto 0;
}

ul {
  list-style: inside;
  color: #6c6c6c;
}

/*---------------------------------*/
/*--------------FOOTER-------------*/
/*---------------------------------*/

footer {
  height: 100px;
}

footer p {
  text-align: center;
  line-height: 100px;
}
